<nav class="flex-div">
    <div  class="nav-left flex-div">
      <img
        src="assets/images/menu.png"
        class="menu-icon"
        (click)="menuButtonClickEvent()"
      />
      <img src="assets/images/logo.png" class="logo" alt="" />
    </div>

    <button></button>
  
    <div class="nav-middle flex-div">
      <div class="search-box flex-div">
        <input type="text" placeholder="Search" />
        <img src="assets/images/search.png" alt="" />
        <!--img src="assets/images/voice-search.png" class="mic-icon" alt=""> -->
      </div>
    </div>

    <div class="nav-middle flex-div">
       <button class="btn-primary" (click)="signOut()">Sign out</button>
    </div>
  
    
  </nav>
  
  <!--sidebar-->
  <div class="sidebar" [class.small-sidebar]="click == 0">
    <div class="shortcut-links">
      <a href="#"
        ><img src="assets/images/home.png" />
        <p>Home</p></a
      >
      <a href="#"
        ><img src="assets/images/organizations.png" />
        <p>Organizations</p></a
      >
      <a href="#"
        ><img src="assets/images/events.png" />
        <p>Events</p></a
      >
      <a href="#"
        ><img src="assets/images/tours.png" />
        <p>Tours & Travels</p></a
      >
      <a href="#"
        ><img src="assets/images/teams.png" />
        <p>Teams</p></a
      >
      <a href="#"
        ><img src="assets/images/about.png" />
        <p>About Us</p></a
      >
      <hr />
    </div>
  </div>
  
  

